:root {
  --orange: #ff8000;
  --white: #fff;
  --black: #000;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px !important;
  }
}

.dark-section {
  color: var(--white);
  background-color: var(--black);
}
.white-section {
  color: var(--black);
  background-color: var(--white);
}

h1 {
  font-size: 80px !important;
  font-weight: normal !important;
}
h2 {
  font-size: 40px !important;
  font-weight: normal !important;
}

p,
li {
  font-size: 20px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  p {
    font-size: 16px !important;
  }
}
